<head>
    <title><%= config.title %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="<%= config.description %>" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <%- favicon_tag('images/favicon.ico') %>
    <%- css('css/animate.min.css') %>
    <%- css('css/bootstrap.min.css') %>
    <%- css('css/font-awesome.min.css') %>
    <%- css('css/kratos.diy.css') %>
    <%- css('css/layer.min.css') %>
    <%- css('css/superfish.min.css') %>
    <%- css('css/style.css') %>
    <%- js('js/jquery.min.js') %>
    <%- js('js/bootstrap.min.js') %>
    <%- js('js/hoverIntent.min.js') %>
    <%- js('js/jquery.easing.min.js') %>
    <%- js('js/jquery.qrcode.min.js') %>
    <%- js('js/jquery.stellar.min.js') %>
    <%- js('js/jquery.waypoints.min.js') %>
    <%- js('js/kratos.diy.js') %>
    <%- js('js/kratos.js') %>
    <%- js('js/layer.min.js') %>
    <%- js('js/modernizr.min.js') %>
    <%- js('js/superfish.js') %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
    </script>
</head>
